body {
  color: #414141;    /* this determines the color of the text in the body */
  background-color: #c8f7e7;    /* this determines the background color of the body */
  font-size: 14px; /* This sets base text size */
}

.page{
    width:800px;
    margin: 0 auto;
}

.bottom{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1, h2{
  text-align: center;
}

h1{
  font-size: 2.5em;
  margin-top: 40px;
}

h2{
  color: #4d4746;
}

.about{
  font-size: 1.2em;
  line-height: 25px;
}

p:last-of-type{
    margin-bottom: 30px;
}

.nav-choice{
  display: block;
  float: left; /*This allows them to slide into each other, no space between them*/
  padding: 8px;
  border-right: 1px solid #4d4746; /* put a line between all the elements */
}

.nav-choice:last-child{
  border-right: none; /*last item shouldn't have a line on it's right side*/
}

.nav-choice:active {
  background-color: #3bbf91;
}

.nav-choice:hover{
  background-color: #8ff2cf;
}

#navbar{
  list-style-type: none;
  position: fixed;
  background-color: #71ebc0;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

#projects{
  list-style-type: lower-roman;
}

#experience{
  list-style-type: circle;
}

.button:link,                
.button:visited {   
  text-decoration: none;     
  justify-content: center;

  color: #FFF;               
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 30px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}